page-customer-index {
  .grid-center {
    padding: 5px;
    margin: 2px;
    display: block;
    height: 100%;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #f00;
    border-radius: 5px;
  }
  .span-number {
    text-align: center;
    font-size: 14px;
    color: #f74c31;
  }
  .span-desc {
    text-align: center;
    font-size: 12px;
  }
  .left-border {
    border-left:1px solid #000;
    margin: 2px;
  }
}
